<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.idempiere.process.GeneratePayrollInvoices"
         point="org.adempiere.base.Process">
      <process
            class="org.idempiere.process.GeneratePayrollInvoices">
      </process>
   </extension>
   <extension
         id="org.eevolution.process.PayrollViaEMail"
         point="org.adempiere.base.Process">
      <process
            class="org.eevolution.process.PayrollViaEMail">
      </process>
   </extension>
   <extension
         id="org.eevolution.process.HRCreatePeriods"
         point="org.adempiere.base.Process">
      <process
            class="org.eevolution.process.HRCreatePeriods">
      </process>
   </extension>
   <extension
         id="org.eevolution.process.HRAttributeEmployee"
         point="org.adempiere.base.Process">
      <process
            class="org.eevolution.process.HRAttributeEmployee">
      </process>
   </extension>
   <extension
         id="org.eevolution.process.HRCreateConcept"
         point="org.adempiere.base.Process">
      <process
            class="org.eevolution.process.HRCreateConcept">
      </process>
   </extension>
   <extension
         id="org.eevolution.process.PayrollProcessing"
         point="org.adempiere.base.Process">
      <process
            class="org.eevolution.process.PayrollProcessing">
      </process>
   </extension>
      <extension
         point="org.adempiere.base.IColumnCallout">
      <callout
            class="org.idempiere.component.Extension_CalloutPayroll"
            columnName="HR_Concept_ID"
            priority="5"
            tableName="HR_Attribute">
      </callout>
   </extension>
      <extension
            id="org.idempiere.process.GeneratePayrollPayments"
            point="org.adempiere.base.Process">
         <process
               class="org.idempiere.process.GeneratePayrollPayments">
         </process>
      </extension>
</plugin>
